In [135]:
import pandas as pd

train = pd.read_csv('data/train.csv', sep=';')
test = pd.read_csv('data/test.csv', sep=';')

In [1]:
import pandas as pd

features = pd.read_csv('data/features.csv', sep=';')

In [283]:
features['OrderQty'].corr(features['last_order_days_ago_per_material'])

-0.0060153629685634966

In [2]:
for col in features.columns:
    if col not in ['ID', 'Material', 'Month', 'OrderQty', 'SalOrg', 'month']:
        print(col, features['OrderQty'].corr(features[col]))

year 0.00509551975708
last_order_days_ago_per_material -0.00601536296856
last_order_days_ago_per_material_and_org -0.00601536296856
median_ordered_per_material 0.721707366813
median_ordered_per_material_and_org 0.81452125824
mean_ordered_per_material 0.739237105962
mean_ordered_per_material_and_org 0.82025669018
min_ordered_per_material 0.334334527791
min_ordered_per_material_and_org 0.585406588796
max_ordered_per_material 0.633553976655
max_ordered_per_material_and_org 0.72670975032
count_ordered_per_material 0.00506997153281
count_ordered_per_material_and_org 0.00130640966058
month_mod -0.00220933572738

In [41]:
import pandas as pd

X_train = pd.read_csv('data/X_train.csv', sep=';')
y_train = pd.read_csv('data/y_train.csv', sep=';')
X_test = pd.read_csv('data/X_test.csv', sep=';')
y_test = pd.read_csv('data/y_test.csv', sep=';')

In [42]:
med = y_train.groupby(['Material', 'SalOrg'])['OrderQty'].median().to_frame('median').reset_index()

In [49]:
sub = pd.merge(left=y_test, right=med, on=['Material', 'SalOrg'], how='outer')
sub['median'].fillna(0, inplace=True)

In [50]:
sub

        OrderQty Material SalOrg       Month       ID  median
0            NaN   00IYcj   97LK  2017-04-01      0.0     6.5
1            NaN   00IYcj   97LK  2017-05-01      0.0     6.5
2            NaN   00IYcj   97LK  2017-06-01      0.0     6.5
3            NaN   00lqzT   97LK  2017-04-01      1.0     1.0
4            NaN   00lqzT   97LK  2017-05-01      1.0     1.0
5            NaN   00lqzT   97LK  2017-06-01      1.0     1.0
6            NaN   00MFcK   97LK  2017-04-01      2.0     0.0
7            NaN   00MFcK   97LK  2017-05-01      2.0     0.0
8            NaN   00MFcK   97LK  2017-06-01      2.0     0.0
9            NaN   00mt9e   97LK  2017-04-01      3.0     2.0
10           NaN   00mt9e   97LK  2017-05-01      3.0     2.0
11           NaN   00mt9e   97LK  2017-06-01      3.0     2.0
12           NaN   00Ok8y   97LK  2017-04-01      4.0     0.0
13           NaN   00Ok8y   97LK  2017-05-01      4.0     0.0
14           NaN   00Ok8y   97LK  2017-06-01      4.0     0.0
15           NaN   00W03x   97LK  2017-04-01      5.0     0.0
16           NaN   00W03x   97LK  2017-05-01      5.0     0.0
17           NaN   00W03x   97LK  2017-06-01      5.0     0.0
18           NaN   02jRc8   97LK  2017-04-01      6.0     0.0
19           NaN   02jRc8   97LK  2017-05-01      6.0     0.0
20           NaN   02jRc8   97LK  2017-06-01      6.0     0.0
21           NaN   02QhQT   97LK  2017-04-01      7.0     0.0
22           NaN   02QhQT   97LK  2017-05-01      7.0     0.0
23           NaN   02QhQT   97LK  2017-06-01      7.0     0.0
24           NaN   0355Np   97LK  2017-04-01      8.0     0.0
25           NaN   0355Np   97LK  2017-05-01      8.0     0.0
26           NaN   0355Np   97LK  2017-06-01      8.0     0.0
27           NaN   03eCyI   97LK  2017-04-01      9.0   248.0
28           NaN   03eCyI   97LK  2017-05-01      9.0   248.0
29           NaN   03eCyI   97LK  2017-06-01      9.0   248.0
...          ...      ...    ...         ...      ...     ...
115998       NaN   zzgzni   yqSu  2017-04-01  38666.0     0.0
115999       NaN   zzgzni   yqSu  2017-05-01  38666.0     0.0
116000       NaN   zzgzni   yqSu  2017-06-01  38666.0     0.0
116001       NaN   ZZibfG   yqSu  2017-04-01  38667.0     0.5
116002       NaN   ZZibfG   yqSu  2017-05-01  38667.0     0.5
116003       NaN   ZZibfG   yqSu  2017-06-01  38667.0     0.5
116004       NaN   ZzjfNJ   yqSu  2017-04-01  38668.0     0.0
116005       NaN   ZzjfNJ   yqSu  2017-05-01  38668.0     0.0
116006       NaN   ZzjfNJ   yqSu  2017-06-01  38668.0     0.0
116007       NaN   zzlMo7   yqSu  2017-04-01  38669.0     0.0
116008       NaN   zzlMo7   yqSu  2017-05-01  38669.0     0.0
116009       NaN   zzlMo7   yqSu  2017-06-01  38669.0     0.0
116010       NaN   ZzLq2k   yqSu  2017-04-01  38670.0     2.0
116011       NaN   ZzLq2k   yqSu  2017-05-01  38670.0     2.0
116012       NaN   ZzLq2k   yqSu  2017-06-01  38670.0     2.0
116013       NaN   Zzmafz   yqSu  2017-04-01  38671.0     0.0
116014       NaN   Zzmafz   yqSu  2017-05-01  38671.0     0.0
116015       NaN   Zzmafz   yqSu  2017-06-01  38671.0     0.0
116016       NaN   zzOfA5   yqSu  2017-04-01  38672.0   100.0
116017       NaN   zzOfA5   yqSu  2017-05-01  38672.0   100.0
116018       NaN   zzOfA5   yqSu  2017-06-01  38672.0   100.0
116019       NaN   ZZu2jg   yqSu  2017-04-01  38673.0     0.0
116020       NaN   ZZu2jg   yqSu  2017-05-01  38673.0     0.0
116021       NaN   ZZu2jg   yqSu  2017-06-01  38673.0     0.0
116022       NaN   ZZuJB2   yqSu  2017-04-01  38674.0     2.0
116023       NaN   ZZuJB2   yqSu  2017-05-01  38674.0     2.0
116024       NaN   ZZuJB2   yqSu  2017-06-01  38674.0     2.0
116025       NaN   zzYnFP   yqSu  2017-04-01  38675.0     0.0
116026       NaN   zzYnFP   yqSu  2017-05-01  38675.0     0.0
116027       NaN   zzYnFP   yqSu  2017-06-01  38675.0     0.0

[116028 rows x 6 columns]

In [23]:
y_test['median'] = med

In [56]:
features = pd.read_csv('data/merged.csv', sep=';')

# Fill dates
features['Month'].fillna(features['date'], inplace=True)

# Parse date
features['Month'] = pd.to_datetime(features['Month'])
features['month'] = features['Month'].dt.month
features['year'] = features['Month'].dt.year

/Users/max/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [66]:
a = features[features['Material'] == 'ZyQoOQ']
a

              ID Material      Month  OrderQty SalOrg     date  month  year
1390313      NaN   ZyQoOQ 2016-12-31      30.0   yqSu      NaN     12  2016
1664614  38655.0   ZyQoOQ 2017-04-01       NaN   yqSu  2017-04      4  2017
1703290  38655.0   ZyQoOQ 2017-05-01       NaN   yqSu  2017-05      5  2017
1741966  38655.0   ZyQoOQ 2017-06-01       NaN   yqSu  2017-06      6  2017

In [62]:
a['OrderQty'].shift().rolling(min_periods=1, window=3).median()

1390313     NaN
1664614    30.0
1703290    30.0
1741966    30.0
Name: OrderQty, dtype: float64

In [63]:
merged = pd.read_csv('data/features.csv', sep=';')

In [65]:
merged[merged['Material'] == 'ZyQoOQ']

,ID,Material,Month,OrderQty,SalOrg,month,year,last_order_days_ago_per_material,last_order_days_ago_per_material_and_org,median_ordered_per_material,median_ordered_per_material_and_org,mean_ordered_per_material,mean_ordered_per_material_and_org,min_ordered_per_material,min_ordered_per_material_and_org,max_ordered_per_material,max_ordered_per_material_and_org,count_ordered_per_material,count_ordered_per_material_and_org,month_mod
1625938,38655.0,ZyQoOQ,2017-04-01,NaN,yqSu,4,2017,91.0,91.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,1.0,1.0,1
1664614,38655.0,ZyQoOQ,2017-05-01,NaN,yqSu,5,2017,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,1.0,1.0,2
1703290,38655.0,ZyQoOQ,2017-06-01,NaN,yqSu,6,2017,31.0,31.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,1.0,1.0,0